if SHIELD_MYHE_LEFT

config ZMK_KEYBOARD_NAME
    default "myhe left"

endif

if SHIELD_MYHE_RIGHT

config ZMK_KEYBOARD_NAME
    default "myhe right"

endif

if SHIELD_MYHE_LEFT || SHIELD_MYHE_RIGHT

config ZMK_SPLIT
    default y

endif